{% extends "base.html" %}
{% block title %}password reset{% endblock %}

{%block scripts%}
		
{%endblock scripts%}

{%block content%}
<div class="container-fluid">
<h2>Forgotten your password?</h2>
<p>Enter your e-mail address to obtain a new password.</p>
<form action="." method="POST">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.as_p }}</p> 
    <input type="submit" class="btn btn-primary btn-lg" value="Send e-mail">
  </form>
</div>	
{%endblock content%}

