<div class="container-fluid">
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{%block scripts%}

		
{%endblock scripts%}

{% block content %}

<h1>Dashboard</h1>
<p>Welcome to the polls dashboard.</p>
<!-- <p>You can <a href="{% url 'edit' %}">edit
your profile</a> or <a href="{% url 'password_change' %}">change your
password</a>.</p> -->
<div>
	
</div>
<div id="container" style="min-width: 300; margin: 0 auto">
	
</div>

<script type="text/javascript">
	$('document').ready(function(){

		
		$(function () {
		$.getJSON("{% url 'results:piechartview' %}", function(data) {
			//console.log(data);
		$('#container').highcharts(data);
		});
		});
		
		
	});

</script> 
</div>
{% endblock %}