{% extends "base.html" %}
{% block title %}
Profile

{% endblock title%}
{%block scripts%}
		
{%endblock scripts%}

{% block content %}
<div class="container-fluid">
<!-- <h1>Welcome to profile page</h1> -->
	{% if user.username %}
<h1>Welcome {{ user.username }}!</h1>
{% else %}
<p>Welcome anonymous user!
You need to <a href="{%url 'login'%}">login</a></p>
{% endif %}
<!-- <p><a href="{% url 'logout' %}">Logout</a></p>
<p><a href="{% url 'dashboard' %}">Dashboard</a></p> -->
</div>
{% endblock content %}


