{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta  charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Election {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/css/highcharts.css' %}">
    <link rel="stylesheet" href="{% static 'rest_framework/css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'accounts/css/highcharts.css' %}"> -->

    <script type="text/javascript" src="{% static 'accounts/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rest_framework/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'accounts/js/highcharts.js' %}"></script>
    <!-- <link rel="stylesheet" href="{% static 'css/app.css' %}"> -->

    {%block scripts%} {%endblock scripts%}
  </head>
  <body>
    <div class="container-fluid">
    <!-- code suppressed for brevity -->

        <nav class=" navbar  navbar-expand-lg navbar-light bg-light" role="navigation">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarlist">
            <span class="navbar-toggler-icon">☰</span>
          </button>
          

          <div class="collapse navbar-collapse" id="navbarlist">
              {% if request.user.is_authenticated %}
                <ul class="menu nav navbar-nav mr-auto"  >
                  <li {% if section == "home" %}class="selected"{% endif %} class="nav-item active">
                  <a href="{% url "home" %}" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item" {% if section == "dashboard" %}class="selected"{% endif %}>
                  <a class="nav-link" href="{% url "dashboard" %}">My dashboard</a>
                  </li>
                  <li class="nav-item" {% if section == "images" %}class="selected"{% endif %}>
                  <a class="nav-link" href="{%url 'presidential'%}">Presidential</a>
                  </li>
                  <li class="nav-item" {% if section == "people" %}class="selected"{% endif %}>
                  <a class="nav-link" href="#">Parliamentary</a>
                  </li>
                  <li class="nav-item" {% if section == "pollingstation" %}class="selected"{% endif %}>
                  <a class="nav-link" href="{% url "pollingstation" %}">Polling Stations</a>
                  </li> 
                  <li class="nav-item" {% if section == "region" %}class="selected"{% endif %}>
                  <a class="nav-link" href="{% url "region" %}">Regions</a>
                  </li>      
                  <li class="nav-item" {% if section == "logout" %}class="selected"{% endif %}>
                  <a class="nav-link" href="{% url "logout" %}">Logout</a>
                  </li>
                  <li class="nav-item" {% if section == "password_change" %}class="selected"{% endif %}>
                  <a class="nav-link" href="{% url "password_change" %}">Change Password</a>
                  </li>
                  
                </ul>
                {%else%}
                <form class="form-inline ml-auto">
                  <a href="{% url 'home' %}" class="btn btn-outline-secondary">Home</a>
                <a  href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                <a  href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
              </form>
                
            {% endif %}
          </div>
            
            
              
        </nav>

    
    {% block content %}
    {% endblock %}
   

    </div>
  </body>
</html>